html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    min-height: 100%;
    background: #758694;
    color: #F7E7DC;
}

.heading_div{
    width: 100%;
    background: #405D72;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
    position: relative; /* Damit der z-index funktioniert */
    z-index: 1;
}

.heading_base {
    margin: 0;
    padding: 20px;
    color: #F7E7DC;
    font-size: 24px;
}

.export_filter > div[type="filter"] {
    background: #607080;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.export_filter > div[type="filter"]:hover {
    background-color: #687A8A
}

.export_filter > div[type="filter"].active {
    background-color: #405D72;
}

.export_filter > div[type="filter"].active:hover {
    background-color: #506780
}

.export_filter{
    margin: 2rem 1rem 0 1rem;
}

.website_content_div{
    width: 100%;
    min-height: calc(100% - 60px);
    background: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

